.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Ciemne tło */
    color: #fff; /* Kolor tekstu */
    padding: 10px;
    border: 1px solid #ddd; /* Jasna obramówka */
    border-radius: 5px;
  }
  
  .status-bar-left,
  .status-bar-center,
  .status-bar-right {
    flex: 1;
    text-align: center;
  }
  
  .date-time,
  .description,
  .status {
    margin: 0;
  }