<div class="business-process-monitoring-container">
    <h1 class="business-process-monitoring-title">Business Process Monitoring</h1>
    <button class="business-process-monitoring-button " 
    [class.business-process-monitoring-button--start]="!started"
    [class.business-process-monitoring-button--stop]="started"

    (click)="startStopMonitoring()"
>
    {{started ? 'Stop monitoring' : 'Start monitoring'}}
</button>
    <hr class="business-process-monitoring-separator">
     
        <app-single-process *ngFor="let process of processes"
        [singleProcess]="process"
        ></app-single-process>

  </div>