/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');


body {
    color: #a2afb3; 
    background-color: #2f393d;
    font-family: 'Lato', sans-serif;
}